* {
  box-sizing: border-box;
}

:root {
  --color-dark: #282c34;
  --color-green:  #2C666E;
}

.App {
  text-align: center;
  display: flex;
  width: 100%;
  background: #282c34;
  height: 100vh;
  color: white;
  transition: .4s;
}

.App.light-mode {
  background: #f2f2f2;
  color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.notes {
  flex: 2;
  border-right: 1px solid #2C666E;
  height: 100%;
  overflow-y: auto;
  padding: 0
}
.note {
    border-bottom: 1px solid #2C666E;
    width: 100%;
    text-align: left;
    padding: 0px 20px 15px;
    position: relative;
}
.note:last-of-type {
  border-bottom: 0;
}
.edit-field {
  flex: 4;
  height: 100%;
  overflow-y: auto;
}

.side-bar {
  flex: 1;
  border-right: 1px solid #2C666E;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar .list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 150px;
}

.list-item {
  margin-bottom: 15px;
}

.title-input {
  font-size: 24px;
  border: 0;
  width: 100%;
  margin: 10px 0 0 0;
  background: inherit;
  padding: 0 20px;
  color: white;
  outline: none;
}

.notes-header {
  border-bottom: 1px solid #2C666E;
  padding-bottom: 15px;
}

.button-delete {
  background: none;
  border: 0;
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  z-index: 2000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
